{% extends "AUUserBundle::layout.html.twig" %}
    
{% block title %}
  Edition - {{ parent() }}
{% endblock %}


{% block fos_user_content %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Editer" />
    </div>
{{ form_end(form) }}

{% endblock fos_user_content %}
