{% extends "AUUserBundle::layout.html.twig" %}
    
{% block title %}
  Profil - {{ parent() }}
{% endblock %}

{% block fos_user_content %}


<h2>Profil</h2>

<div class="fos_user_user_show">
	Vos informations
    <p>Username: {{ user.username }}</p>
    <p>Mail: {{ user.email }}</p>
    <p>Dernière connexion: {{ user.lastlogin|date('d-m-Y') }}</p>
    <p>Photo: <img src="{{ asset('uploads/users/' ~ user.id ~ '/' ~ user.picture ~ '') }}" /></p>
    <p>edition profil : <a href="{{ path('fos_user_profile_edit') }}"> Editer le profil </a>
    {# On peut voir tout les champs avec le dump #}
    {{ dump(user) }}
</div>

{% endblock fos_user_content %}
