{% extends 'AdminBundle:Default:index.html.twig' %}

{% block main_content %}
    <div class="row">
        <div class="col-md-4">
            test 1
        </div>
        <div class="col-md-4">
            test 2
        </div>
        <div class="col-md-4">
            test 3
        </div>
    </div>
{% endblock %}