{% trans_default_domain "menu" %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">
        {{ 'blog'|trans }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('admin_blog_post_form') }}">{{ 'post.new'|trans }}</a></li>
        <li><a href="{{ path('admin_blog_homepage') }}">{{ 'post.dashboard'|trans }}</a></li>
        <li><a href="{{ path('admin_blog_posts') }}">{{ 'post.list'|trans }}</a></li>
    </ul>
</li>