{% extends "AUUserBundle::layout.html.twig" %}
    
{% block title %}
  Connexion - {{ parent() }}
{% endblock %}

{% block fos_user_content %}

  <h2>Connexion</h2>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="form-group">
        <label for="username">Pseudo</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="_password" required="required" />
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">Se souvenir de moi</label>
        </div>
    <input type="submit" id="_submit" name="_submit" value="Se connecter" />
</form>
{% endblock fos_user_content %}
