{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Cover</th>
                <th>Date</th>
                <th>Typeproject</th>
                <th>Home</th>
                <th>Targetting</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.cover }}</td>
                <td>{{ project.date }}</td>
                <td>{{ project.typeProject }}</td>
                <td>{{ project.home }}</td>
                <td>{{ project.targetting }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
