{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td><img src="{{ asset('uploads/'~ project.cover ~ '') }}" /></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ project.date|date('Y') }}</td>
            </tr>
            <tr>
                <th>Typeproject</th>
                <td>{{ project.typeProject }}</td>
            </tr>
            <tr>
                <th>Home</th>
                <td>{{ project.home }}</td>
            </tr>
            <tr>
                <th>Targetting</th>
                <td>{{ project.targetting }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
