{% trans_default_domain 'admin' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'AdminBundle:Default:index.html.twig' %}

{% block javascripts %}
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector:'textarea.tinyMce',
            height: 500
        });
        $(document).on('focusin', function(e) {
            if ($(e.target).closest(".mce-window").length) {
                e.stopImmediatePropagation();
            }
        });
    </script>
{% endblock %}

{% block main_content %}
    <div class="container">
        {{ form_start(form) }}
        <a href="{{ path('admin_blog_posts') }}" class="btn btn-primary ">{{ 'form.go_back'|trans }}</a>
        <br/><br/>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
