{% trans_default_domain 'admin' %}
{% extends 'AdminBundle:Default:index.html.twig' %}

{% block main_content %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'form.title'|trans }}</th>
                <th>{{ 'form.author'|trans }}</th>
                <th>{{ 'form.comments'|trans }}</th>
                <th>{{ 'form.publication_date'|trans }}</th>
                <th>{{ 'form.published'|trans }}</th>
                <th><a class="btn btn-success" href="{{ path('admin_blog_post_form') }}">Write new post</a></th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr {% if not post.published %}class="bg-danger"{% endif %}>
                <td>{{ post.id }}</td>
                <td>
                    <a href="#" class="btn btn-link">
                        <span class="glyphicon glyphicon-link"></span>
                        {{ post.title }}
                    </a>
                </td>
                <td>{{ post.author }}</td>
                <td>0</td>
                <td>
                    <span class="text-primary">{{ post.publicationDate|date("Y M d H:i") }}</span>
                </td>
                <td>
                    {% if post.published %}
                        <a href="{{ path('AU_blog_admin_togglepublication', {'id': post.id}) }}"
                           class="btn btn-danger">
                            <span class="glyphicon glyphicon-eye-close"></span>
                            {{ 'post.stop_publication'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('AU_blog_admin_togglepublication', {'id': post.id}) }}"
                           class="btn btn-success">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            {{ 'post.publish'|trans }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('AU_blog_admin_posteditform', {'id': post.id}) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('AU_blog_admin_deletepost', {'id': post.id}) }}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}