<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="Dashboard">
	    <meta name="keyword" content="Gestion, Projet, Art, United, Art, Collaboration">

	    <title>{% block title %}ArtUnited{% endblock %}</title>

	  	{% block stylesheets %}
		    {# On charge le CSS de bootstrap depuis le site directement #}
		    <!-- Bootstrap core CSS -->
		    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
		    <!--external css-->
		    <link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
		    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/zabuto_calendar.css') }}">
		    <link rel="stylesheet" type="text/css" href="{{ asset('assets/js/gritter/css/jquery.gritter.css') }}" />
		    <link rel="stylesheet" type="text/css" href="{{ asset('assets/lineicons/style.css') }}">    
		    
		    <!-- Custom styles for this template -->
		    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
		    <link href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet">

		    <script src="{{ asset('assets/js/chart-master/Chart.js') }}"></script>
		    
		    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		    <!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		    <![endif]-->
	 	{% endblock %}
	</head>

  	<body>

  		<section id="container" >
	      	<!-- **********************************************************************************************************************************************************
	     	 TOP BAR CONTENT & NOTIFICATIONS
	     	 *********************************************************************************************************************************************************** -->
	      	<!--header start-->
	      	<header class="header black-bg">
		     	<div class="sidebar-toggle-box">
		        	<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
		      	</div>
	            <!--logo start-->
	            <a href="#" class="logo"><b>Art united</b></a>
	            <!--logo end-->
	            <div class="nav notify-row" id="top_menu">
	                <!--  notification start -->
	                <ul class="nav top-menu">
	                    <!-- settings start -->
	                    <!--############################################
	                    ################################################
	                    Si connecté alors :
	                    #############################################-->
	                    
	                    <!--<li class="dropdown">
	                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
	                            <i class="fa fa-tasks"></i>
	                            <span class="badge bg-theme">1</span>
	                        </a>
	                        <ul class="dropdown-menu extended tasks-bar">
	                            <div class="notify-arrow notify-arrow-green"></div>
	                            <li>
	                                <p class="green">1 taches en cours</p>
	                            </li>
	                            <li>
	                                <a href="index.html#">
	                                    <div class="task-info">
	                                        <div class="desc">DashGum Admin Panel</div>
	                                        <div class="percent">40%</div>
	                                    </div>
	                                    <div class="progress progress-striped">
	                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	                                            <span class="sr-only">40% Complete (success)</span>
	                                        </div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="index.html#">
	                                    <div class="task-info">
	                                        <div class="desc">Database Update</div>
	                                        <div class="percent">60%</div>
	                                    </div>
	                                    <div class="progress progress-striped">
	                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
	                                            <span class="sr-only">60% Complete (warning)</span>
	                                        </div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="index.html#">
	                                    <div class="task-info">
	                                        <div class="desc">Product Development</div>
	                                        <div class="percent">80%</div>
	                                    </div>
	                                    <div class="progress progress-striped">
	                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
	                                            <span class="sr-only">80% Complete</span>
	                                        </div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="index.html#">
	                                    <div class="task-info">
	                                        <div class="desc">Payments Sent</div>
	                                        <div class="percent">70%</div>
	                                    </div>
	                                    <div class="progress progress-striped">
	                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
	                                            <span class="sr-only">70% Complete (Important)</span>
	                                        </div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li class="external">
	                                <a href="#">See All Tasks</a>
	                            </li>
	                        </ul>
	                    </li>-->


	                    <!-- settings end -->
	                    <!-- inbox dropdown start-->
	                    
	                    <!--<li id="header_inbox_bar" class="dropdown">
	                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
	                            <i class="fa fa-envelope-o"></i>
	                            <span class="badge bg-theme">2</span>
	                        </a>
	                        <ul class="dropdown-menu extended inbox">
	                            <div class="notify-arrow notify-arrow-green"></div>
	                            <li>
	                                <p class="green">You have 2 new messages</p>
	                            </li>
	                            <li>
	                                <a href="index.html#">
	                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
	                                    <span class="subject">
	                                    <span class="from">Zac Snider</span>
	                                    <span class="time">Just now</span>
	                                    </span>
	                                    <span class="message">
	                                        Hi mate, how is everything?
	                                    </span>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="index.html#">
	                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
	                                    <span class="subject">
	                                    <span class="from">Divya Manian</span>
	                                    <span class="time">40 mins.</span>
	                                    </span>
	                                    <span class="message">
	                                     Hi, I need your help with this.
	                                    </span>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="index.html#">
	                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
	                                    <span class="subject">
	                                    <span class="from">Dan Rogers</span>
	                                    <span class="time">2 hrs.</span>
	                                    </span>
	                                    <span class="message">
	                                        Love your new Dashboard.
	                                    </span>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="index.html#">
	                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
	                                    <span class="subject">
	                                    <span class="from">Dj Sherman</span>
	                                    <span class="time">4 hrs.</span>
	                                    </span>
	                                    <span class="message">
	                                        Please, answer asap.
	                                    </span>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="index.html#">See all messages</a>
	                            </li>
	                        </ul>
	                    </li>-->

	                     <!-- fin si-->
	                    <!-- inbox dropdown end -->
	                </ul>
	                <!--  notification end -->
	            </div>
	            <div class="top-menu">
	            	<ul class="nav pull-right top-menu">
	            		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    						<li><a class="logout" href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
							<li><a class="logout" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
    					{% else %}
	                    	<li><a class="logout" href="{{ path('fos_user_security_login') }}">Connexion</a></li>
	                    	<li><a class="logout" href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
	                    {% endif %}
	            	</ul>
	            </div>
	        </header>
	      	<!--header end-->
	      
	      	<!-- **********************************************************************************************************************************************************
	      	MAIN SIDEBAR MENU
	      	*********************************************************************************************************************************************************** -->
	      	<!--sidebar start-->
	      	<aside>
	          	<div id="sidebar"  class="nav-collapse ">
	              	<!-- sidebar menu start-->
	              	<ul class="sidebar-menu" id="nav-accordion">
	              
	              		<p class="centered"><a href="profile.html"><img src="{{ asset('assets/img/ui-sam.jpg') }}" class="img-circle" width="60"></a></p>
	              		
	              		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	              	  		<h5 class="centered">{{ app.user }}</h5>
	              	  	{% else %}
	              	  		<h5 class="centered">Anonyme</h5>
	              	  	{% endif %}
	              	  	
		                <li class="mt">
		                    <a {% if app.request.attributes.get('_route') != 'au_general_homepage' %} class="active" {% endif %} href="{{ path('au_general_homepage') }}"">
		                        <i class="fa fa-dashboard"></i>
		                        <span>Accueil</span>
		                    </a>
		                </li>

	                  	<li class="sub-menu">
	                      	<a href="javascript:;" >
	                          <i class="fa fa-desktop"></i>
	                          <span {% if app.request.attributes.get('_route') != 'au_project_homepage' %} class="active" {% endif %} >Projets</span>
	                      	</a>
	                      	<ul class="sub">
	                          <li><a  href="{{ path('au_project_homepage') }}">Tous les projets</a></li>
	                          <li><a  href="#">Projets suivis</a></li>
	                          <li><a  href="#">Nouveau projet</a></li>
	                      	</ul>
	                  	</li>

	                  	<li class="sub-menu">
	                    	<a href="javascript:;" >
	                          <i class="fa fa-cogs"></i>
	                          <span>Blogs</span>
	                      	</a>
	                      	<ul class="sub">
	                          <li><a  href="{{ path('au_blog_homepage') }}">XXXX</a></li>
	                          <li><a  href="#">XXXX</a></li>
	                          <li><a  href="#">XXXX</a></li>
	                      	</ul>
	                  	</li>
	                  
	                  	<li class="sub-menu">
	                      	<a href="javascript:;" >
	                          <i class="fa fa-book"></i>
	                          <span>Admin</span>
	                      	</a>
	                      	<ul class="sub">
	                          <li><a  href="{{ path('au_admin_homepage') }}">XXXXX</a></li>
	                          <li><a  href="#"></a></li>
	                          <li><a  href="#"></a></li>
	                      	</ul>
	                  	</li>
	                  
	                  	<li class="sub-menu">
	                      <a  href="{{ path('au_forum_homepage') }}" >
	                          <i class="fa fa-th"></i>
	                          <span>Forum</span>
	                      </a>
	                  	</li>
	                  
	                  	<li class="sub-menu">
	                      	<a  href="#" >
	                          <i class=" fa fa-bar-chart-o"></i>
	                          <span>Contact</span>
	                      	</a>
	                  	</li>

	              	</ul>
	              	<!-- sidebar menu end-->
	         	</div>
	      	</aside>
	      	<!--sidebar end-->
	      
	      <!-- **********************************************************************************************************************************************************
	      MAIN CONTENT
	      *********************************************************************************************************************************************************** -->
	      <!--main content start-->
	        <section id="main-content">
	            <section class="wrapper">
	              	<div class="row">
	                	<div class="col-lg-9 main-chart">
	                  		
	       					{% block body %}
	        				{% endblock %}
	  						
	                  	</div>

	                  	

	                  
	      <!-- **********************************************************************************************************************************************************
	      RIGHT SIDEBAR CONTENT
	      *********************************************************************************************************************************************************** -->                  
	                  
	                  	<div class="col-lg-3 ds">
							<h3>Derniers projets</h3>                                       
	                		<div class="desc">
	                			<div class="thumb">
	                				<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	                			</div>
	                			<div class="details">
	                				<p><muted>2 Minutes Ago</muted><br/>
	                		  			<a href="#">Les valkyries</a> Projet de création d'Asgard<br/>
	                				</p>
	                			</div>
	               			</div>
	               			<div class="desc">
	                			<div class="thumb">
	                				<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	                			</div>
	                			<div class="details">
	                				<p><muted>3 Hours Ago</muted><br/>
	                		  			<a href="#">Art</a> Site de gestion de projets<br/>
	                				</p>
	                			</div>
	                		</div>
	                		<div class="desc">
	                			<div class="thumb">
	                				<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	                			</div>
	                			<div class="details">
	                				<p><muted>7 Hours Ago</muted><br/>
	                		   			<a href="#">Les valkyries</a> Projet de création d'Asgard<br/>
	                				</p>
	                			</div>
	                		</div>

							<h3>Projet à la une</h3>
	                  		<div class="desc">
	                  			<div class="thumb">
	                  				<img class="img-circle" src="{{ asset('assets/img/ui-divya.jpg') }}" width="35px" height="35px" align="">
	                  			</div>
	                  			<div class="details">
	                  				<p><a href="#">Les valkyries</a><br/>
	                  		   			<muted>Asgard</muted>
	                  				</p>
	                  			</div>
	                  		</div>
	                  		<div class="desc">
	                  			<div class="thumb">
	                  				<img class="img-circle" src="{{ asset('assets/img/ui-sherman.jpg') }}" width="35px" height="35px" align="">
	                  			</div>
	                  			<div class="details">
	                  				<p><a href="#">Art united</a><br/>
	                  		   			<muted>Gestion de projet</muted>
	                  				</p>
	                  			</div>
	                  		</div>                    
	                  	</div>
	              	</div>
	          	</section>
	      	</section>

	      	<!--main content end-->
	      	<!--footer start-->
	      	<footer class="site-footer navbar-fixed-bottom">
	          	<div class="text-center">
	            	ArtUnited - All rights reserved
	          	</div>
	      	</footer>
	      	<!--footer end-->
  		</section>
	 	{% block javascripts %}
		    <!-- js placed at the end of the document so the pages load faster -->
		    <script src="{{ asset('assets/js/jquery.js') }}"></script>
		    <script src="{{ asset('assets/js/jquery-1.8.3.min.js') }}"></script>
		    <script src="{{ asset('assets/js/bootstrap.min.j') }}s"></script>
		    <script class="include" type="text/javascript" src="{{ asset('assets/js/jquery.dcjqaccordion.2.7.js') }}"></script>
		    <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>
		    <script src="{{ asset('assets/js/jquery.nicescroll.js" type="text/javascript') }}"></script>
		    <script src="{{ asset('assets/js/jquery.sparkline.js') }}"></script>
		    <!--common script for all pages-->
		    <script src="{{ asset('assets/js/common-scripts.js') }}"></script>
		    <script type="text/javascript" src="{{ asset('assets/js/gritter/js/jquery.gritter.js') }}"></script>
		    <script type="text/javascript" src="{{ asset('assets/js/gritter-conf.js') }}"></script>	
		{% endblock %}
  	</body>
</html>
