{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Language</th>
                <th>Location</th>
                <th>Styles</th>
                <th>Tools</th>
                <th>Equipments</th>
                <th>Website</th>
                <th>Bio</th>
                <th>Socialmedia</th>
                <th>Profiletype</th>
                <th>Defyme</th>
                <th>Picture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.language }}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.styles }}</td>
                <td>{{ user.tools }}</td>
                <td>{{ user.equipments }}</td>
                <td>{{ user.website }}</td>
                <td>{{ user.bio }}</td>
                <td>{{ user.socialmedia }}</td>
                <td>{% if user.profileType %}Yes{% else %}No{% endif %}</td>
                <td>{% if user.defyMe %}Yes{% else %}No{% endif %}</td>
                <td>{{ user.picture }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
