{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ user.language }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ user.location }}</td>
            </tr>
            <tr>
                <th>Styles</th>
                <td>{{ user.styles }}</td>
            </tr>
            <tr>
                <th>Tools</th>
                <td>{{ user.tools }}</td>
            </tr>
            <tr>
                <th>Equipments</th>
                <td>{{ user.equipments }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ user.website }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ user.bio }}</td>
            </tr>
            <tr>
                <th>Socialmedia</th>
                <td>{{ user.socialmedia }}</td>
            </tr>
            <tr>
                <th>Profiletype</th>
                <td>{% if user.profileType %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Defyme</th>
                <td>{% if user.defyMe %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ user.picture }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
