{% trans_default_domain 'front' %}
{% extends "BlogBundle:Front:common.html.twig" %}

{% block blog_content %}
    {% for post in posts %}
        <div class="jumbotron">
            <h2><a href="{{ path('AU_blog_front_singlepost', {'slug': post.uri}) }}">{{ post.title }}</a></h2>
            <p>{{ post.listDescription|raw }}</p>
            <small>{{ post.author|humanize }} ({{ post.publicationDate|date|humanize }})</small>
            <a href="{{ path('AU_blog_front_singlepost', {'slug': post.uri}) }}">{{ 'post.read_more'|trans }}</a>
        </div>
    {% endfor %}
{% endblock %}
