{% extends "::base.html.twig" %}

{% block main_content %}
<div class="container">
    {% block header %}
    <div class="page-header">
        <h1>Welcome to Rafal's blog!</h1>
    </div>
    {% endblock %}
    {% block blog_content %}
    {% endblock %}
</div>
{% endblock %}


