{% extends "BlogBundle:Front:common.html.twig" %}

{% block header %}
    <h1>{{ post.title }}</h1>
{% endblock %}

{% block blog_content %}
    <div class="container-fluid">
        <a class="" href="{{ path('AU_blog_front_index') }}"><span class="glyphicon glyphicon-home"></span> go back to homepage</a>
        <div class="jumbotron">
            <h2>{{ post.listDescription }}</h2>
            <p>{{ post.content|raw }}</p>
        </div>
    </div>
{% endblock %}